.container {
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px 80px;
  text-align: center;
}

.containerWrapper {
  max-width: 1440px;
  margin: 0px auto;
  color: var(--white);
}

.containerWrapper a {
  color: var(--white);
  text-decoration: none;
}
