.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.role {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
}

.role label {
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type="radio"] {
  accent-color: var(--primary-color);
}
