.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.button:hover {
  background-color: var(--primary-dark-color);
}
