.container {
  padding: 10px 80px;
  min-height: calc(100vh - 44px - 84px);
}
.containerWrapper {
  max-width: 1440px;
  margin: 0px auto;
}

@media (max-width: 480px) {
  .container {
    padding: 10px 20px;
  }
}
